<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Seng 422 - Team Tyrion</a>
    </div>
    <div class="navbar-collapse collapse">
      <form name="loginForm" class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input ng-model="username" type="text" placeholder="Username" class="form-control" required>
        </div>
        <div class="form-group">
          <input type="password" ng-model="password" placeholder="Password" class="form-control" required>
        </div>
        <button type="submit" ng-click="signIn()" class="btn btn-success">Sign in</button>
      </form> 
      <ul class="nav navbar-nav pull-right"> 
        <li><a class="nav-text" href="#" data-toggle="modal" data-target="#recoverInfoModal">Forgot Login Information</a></li>
      </ul>  
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron tyrion">
  <div class="container">
    <h1>Project Details</h1>
    <p>The LSCS system was created by Team Tyrion in order to address management and coordination problems within any survey company's daily routine. We believe that it meets, and in places, even exceeds surveyor and manager requirements. </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Team</h2>
      <p>Our team is comprised of five skilled individuals attending the University of Victoria. With the completion of this project, we hope to move one step closer to our goal of finishing our degrees.</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2>Sponsors</h2>
      <p>Seeing as this team is full of amazing individuals, it would make sense that we also have amazing sponsors. These sponsors include: Game of Thrones, Tyrion Lannister, Peter Dinklage, our friends/family, and our ever cheerful lab TA, Babak Keshavarz.</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Team Tyrion 2014</p>
  </footer>
</div> <!-- /container -->

<!-- Recover User Info Modal -->
<div class="modal fade" id="recoverInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Recover Username/Password<br /><small>Please enter your email into the field below to recover your login information.</small></h4>
      </div>
      <div class="modal-body">
        <form name="recoverInfoForm" class="well form-horizontal" role="form" ng-submit="createNewSurveyor()" novalidate>        
          <div style="margin-bottom: 0px;" class="form-group" ng-class="{ 'has-error' : (recoverInfoForm.email.$invalid || emailRecoverError) && recoverHasSubmitted }">
              <label class="col-sm-1 control-label">Email</label>             
              <div class="col-sm-11">
                <input type="email" name="email" class="form-control" ng-model="recoverEmail" required>
                <p ng-show="emailRecoverError" class="help-block">{{emailRecoverMessage}}</p>                  
                <p ng-show="recoverInfoForm.email.$invalid && recoverHasSubmitted" class="help-block" style="margin-bottom: 0px">Please enter a valid email</p>
              </div>
            </div>
          </form>
          <p>An email containing your username and password reset instructions will be sent to the email you specify above.</p>
        </div>
        <div class="modal-footer" style="margin-top: 0px">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" ng-click="recoverInformation()" class="btn btn-primary">Send</button>
        </div> 
      </div>
    </div>
  </div>
</div>