<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="navbar-collapse collapse">
      <form name="loginForm" class="navbar-form navbar-right" role="form" ng-hide="isLoggedIn">
        <div class="form-group">
          <label class="sr-only" for="username_entry">Username</label>
          <input ng-model="username" type="text" placeholder="Username" class="form-control" id="username_entry" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="password_entry">Password</label>
          <input type="password" ng-model="password" placeholder="Password" class="form-control" id="password_entry" required>
        </div>
        <button type="submit" ng-click="signIn()" class="btn btn-success">Sign in</button>
      </form>
 	  <div class="nag navbar-nav navbar-left" ng-show="isLoggedIn">
 	  	<ul class="nav navbar-nav">
          <li class="active"><a href="#overview" role="tab" data-toggle="tab">Overview</a></li>
          <li><a href="#checklists" ng-click="refreshMap()" role="tab" data-toggle="tab">Checklists</a></li>
          <li><a href="#surveyors" role="tab" data-toggle="tab">Surveyors</a></li> 	  	
 	  	</ul>
 	  </div>
      <div class="nav navbar-nav navbar-right" ng-show="isLoggedIn">
        <ul class="nav navbar-nav">
          <li><p class="navbar-text">Welcome, {{StateService.getUsername()}}</p></li>             
          <li class="padding-fix dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="h4 glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu">          
              <li><a data-toggle="modal" data-target="#editSurveyorModal" ng-click="setEditInformation(StateService.getCurrentUser())" href="#">Edit Profile</a></li>
              <li><a ng-click="signOut()" href="">Sign Out</a></li>            
            </ul>
          </li>
        </ul>
      </div>      
    </div>
    <!--/.navbar-collapse -->
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="overview">
    Overview
  </div>
  <div class="tab-pane" id="checklists">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main" style="padding-bottom:0px">
          <div class="page-header" style="padding-bottom:55px; margin-bottom: 0px;">
            <h1 class="pull-left" style="margin: 0px;">Checklists</h1>
            <div class="pull-right">
              <button type="button" data-toggle="modal" data-target="#newChecklistModal" class="btn btn-success btn-lg" style="margin-top: -2px">New Checklist</button>
            </div>
          </div>
          <p style="margin-top: 20px" class="well well-sm">Please select a checklist from the list below to view weather and geographical information for the each checklist's project. To modify or delete an existing checklist, please click one of the action buttons corresponding to the checklist in the table below. Finally, if you want to create a new checklist, please click the New Checklist button.</p>
        </div>
      </div>
      <div class="row">
        <div class="container" style="margin: 0px; width:100%;">
          <div class="col-sm-6">
            <div class="weather-data"></div>
            <h3 class="sub-header" style="margin: 0px;">Checklist Map Data</h3>          
            <div class="manager-map" lat="48.4630959" long="-123.3121053" lscs-map zoom="13"></div>
          </div>
          <div class="col-sm-6" style="padding-left: 30px">  
            <h3 class="sub-header" style="margin: 0px;">Created Checklists</h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>File Number</th>
                    <th>Title</th>
                    <th>Checklist Type</th>
                    <th>Land District</th>
                    <th>State</th>
                    <th>Assigned To:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="checklist in StateService.getChecklists()">
                    <td>{{checklist.fileNumber}}</td>
                    <td>{{checklist.title}}</td>
                    <td>{{checklist.checklistType.name}}</td>
                    <td>{{checklist.landDistrict}}</td>
                    <td>{{checklist.state}}</td>
                    <td>{{checklist.surveyors[0].name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <div class="tab-pane" id="surveyors">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 main" style="padding-bottom:0px">
          <div class="page-header" style="padding-bottom:55px; margin-bottom: 0px;">
            <h1 class="pull-left" style="margin: 0px;">Surveyors</h1>
            <div class="pull-right">
              <button type="button" data-toggle="modal" data-target="#newSurveyorModal" href="" ng-click="cleanUpNewDialog()" class="btn btn-success btn-lg" style="margin-top: -2px">New Surveyor</button>
            </div>
          </div>
          <p style="margin-top: 20px" class="well well-sm">Below is a list of surveyors currently registered in the LSCS system. To modify an existing surveyor account, please click one of the action buttons cooresponding to the account you wish to modify in the table below. To create a new surveyor, please click the New Surveyor button.</p>
        </div>
      </div>
      <div class="row">
        <div class="container" style="margin: 0px; width:100%;">
          <div class="col-sm-12">  
            <h3 class="sub-header" style="margin: 0px;">Registered Surveyors</h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>                  
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="surveyor in StateService.getSurveyorList()">
                    <th>{{surveyor.first_name == '' ? 'N' : surveyor.first_name}}{{surveyor.last_name == '' ? '/A' : ' ' + surveyor.last_name}}</th>
                    <th>{{surveyor.username}}</th>
                    <th>{{surveyor.email}}</th>
                    <th><button type="button" data-toggle="modal" data-target="#editSurveyorModal" class="btn btn-primary btn-sm" ng-click="setEditInformation(surveyor)" style="margin-top: -2px">Edit User</button></th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
  </div>    
</div>

<!-- New Checklist Modal -->

<div class="modal fade" id="newChecklistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow:hidden;">
  <div class="modal-dialog" style="width: 608px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a New Checklist<br /><small>Please complete the following fields to create a new checklist.</small></h4>
      </div>
      <div class="modal-body">
        <div class="new_checklist_map" lat="newChecklistModalLat" long="newChecklistModalLong" zoom="13" lscs-map></div>      
        <form name="newChecklistForm" class="well form-horizontal" role="form" ng-submit="createNewSurveyor()" novalidate>
          <!-- Address -->
          <div class="form-group" ng-class="{ 'has-error' : (newChecklistForm.username.$invalid ) && newChecklistHasSubmitted }">
              <label class="col-sm-3 control-label">Address</label> 
              <div class="col-sm-9">
                <input type="text" name="username" class="form-control" ng-model="addressSearchText" required>              
                <p ng-show="newChecklistForm.username.$invalid && newChecklistHasSubmitted" class="help-block">Please enter an address</p>
              </div>
          </div>        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="submitCreateChecklist()" class="btn btn-primary">Create Checklist</button>
      </div>
    </div>
  </div>
</div>

<!-- Create Surveyor Modal -->
<div class="modal fade" id="newSurveyorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow:hidden;">
  <div class="modal-dialog" style="width: 608px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Surveyor<br /><small>Please complete the following fields to create a new user.</small></h4>
      </div>
      <div class="modal-body">
        <form name="newSurveyorForm" class="well form-horizontal" role="form" ng-submit="createNewSurveyor()" novalidate>
          <!-- Username -->
          <div class="form-group" ng-class="{ 'has-error' : (newSurveyorForm.username.$invalid || usernamePostError) && hasSubmitted }">
              <label class="col-sm-3 control-label">Username</label> 
              <div class="col-sm-9">
                <input type="text" name="username" class="form-control" ng-model="newUsername" required>
                <p ng-show="usernamePostError" class="help-block">{{usernameErrorMessage}}</p>                  
                <p ng-show="newSurveyorForm.username.$invalid && hasSubmitted" class="help-block">Please enter a username</p>
              </div>
          </div>        
          <!-- First Name -->
          <div class="form-group" ng-class="{ 'has-error' : newSurveyorForm.firstName.$invalid && hasSubmitted }">
              <label class="col-sm-3 control-label">First Name</label> 
              <div class="col-sm-9">
                <input type="text" name="firstName" class="form-control" ng-model="newFirstName" required>
                <p ng-show="newSurveyorForm.firstName.$invalid && hasSubmitted" class="help-block">Please enter the new surveyor's first name.</p>
              </div>
          </div>
          <!-- Last Name -->
          <div class="form-group" ng-class="{ 'has-error' : newSurveyorForm.lastName.$invalid && hasSubmitted }">
              <label class="col-sm-3 control-label">Last Name</label> 
              <div class="col-sm-9">
                <input type="text" name="lastName" class="form-control" ng-model="newLastName" required>
                <p ng-show="newSurveyorForm.lastName.$invalid && hasSubmitted" class="help-block">Please enter the new surveyor's last name.</p>
              </div>
          </div>          
          <!-- Email -->
          <div class="form-group" ng-class="{ 'has-error' : (newSurveyorForm.email.$invalid || emailPostError) && hasSubmitted }">
            <label class="col-sm-3 control-label">Email</label> 
            <div class="col-sm-9">
              <input type="email" name="email" class="form-control" ng-model="newEmail" required>
              <p ng-show="emailPostError" class="help-block">{{emailErrorMessage}}</p>
              <p ng-show="newSurveyorForm.email.$invalid && hasSubmitted" class="help-block">Please enter a valid email.</p>
            </div>
          </div>
          <!-- New Password -->
          <div class="form-group" ng-class="{ 'has-error' : newSurveyorForm.newPassword.$invalid && hasSubmitted }">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">                            
              <input type="password" name="newPassword" class="form-control" ng-model="newPassword" required>
              <p ng-show="newSurveyorForm.newPassword.$error.required && hasSubmitted" class="help-block">Please enter a new password.</p>
            </div> 
          </div>  
          <!-- Confirm Password -->
          <div class="form-group" ng-class="{ 'has-error' : (newSurveyorForm.verifyPassword.$invalid || newSurveyorForm.verifyPassword.$error.passwordMatch) && hasSubmitted }">
            <label class="col-sm-3 control-label">Verify Password</label>
            <div class="col-sm-9">
              <input type="password" name="verifyPassword" class="form-control" ng-model="verifyPassword" required>
              <p ng-show="newSurveyorForm.verifyPassword.$error.required && !newSurveyorForm.verifyPassword.$error.passwordMatch && hasSubmitted" class="help-block">Please verify your new password.</p>
              <p ng-show="newSurveyorForm.verifyPassword.$error.passwordMatch && hasSubmitted" class="help-block">The passwords you entered do not match!</p>
            </div> 
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="submitCreateUser()" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editSurveyorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 706px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile<br /><small>Please modify any of the fields below to update your StudyGroup profile.</small></h4>
      </div>
      <div class="modal-body">
        <form name="editSurveyorForm" class="form-horizontal" role="form" ng-submit="submitRegistration()" novalidate>
          <!-- Username -->
          <div class="form-group" ng-class="{ 'has-error' : editSurveyorForm.username.$invalid && editHasSubmitted || usernameEditErrorMessage }">
            <label class="col-sm-3 control-label">Username</label> 
            <div class="col-sm-9">
              <input type="username" name="username" class="form-control" ng-model="edit_username" required placeholder="username">
              <p ng-show="usernameEditPostError" class="help-block">{{usernameEditErrorMessage}}</p>          
              <p ng-show="editSurveyorForm.username.$invalid && editHasSubmitted" class="help-block">Please enter a valid username.</p>
            </div>
          </div>      
          <!-- First Name -->
          <div class="form-group">
              <label class="col-sm-3 control-label">First Name</label> 
              <div class="col-sm-9">
                <input type="text" name="name" class="form-control" ng-model="edit_first_name" placeholder="First Name">
              </div>
          </div>
          <!-- Last Name -->
          <div class="form-group">
              <label class="col-sm-3 control-label">Last Name</label> 
              <div class="col-sm-9">
                <input type="text" name="name" class="form-control" ng-model="edit_last_name" placeholder="Last Name">
              </div>
          </div>          
          <!-- Email -->
          <div class="form-group" ng-class="{ 'has-error' : editSurveyorForm.email.$invalid && editHasSubmitted || emailEditErrorMessage }">
            <label class="col-sm-3 control-label">Email</label> 
            <div class="col-sm-9">
              <input type="email" name="email" class="form-control" ng-model="edit_email" required placeholder="Email">
              <p ng-show="emailEditPostError" class="help-block">{{emailEditErrorMessage}}</p>          
              <p ng-show="editSurveyorForm.email.$invalid && editHasSubmitted" class="help-block">Please enter a valid email.</p>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>             
            <div class="col-sm-9">
              <button type="button" ng-show="!editShowChangePassword" ng-click="editShowChangePassword = true; editHasSubmitted = false;" class="btn btn-primary">Change Password</button>            
              <div ng-show="editShowChangePassword" class="well" style="margin-bottom: 0px;">
                <!-- Current Password -->
                <div class="form-group" ng-class="{ 'has-error' : editShowChangePassword && editSurveyorForm.password.$invalid && editHasSubmitted }">              
                  <label class="col-sm-4 control-label">Manager Password</label>               
                  <div class="col-sm-8">                            
                    <input type="password" name="password" class="form-control" ng-model="managerPassword" ng-required="editShowChangePassword">
                    <p ng-show="editSurveyorForm.password.$error.required && !editSurveyorForm.password.$error.passwordIncorrect && editHasSubmitted" class="help-block">Please enter your current password.</p>
                    <p ng-show="editSurveyorForm.password.$error.passwordIncorrect && editHasSubmitted" class="help-block">The password you entered does not match the one we have on file for you! Please try again.</p>                    
                  </div>
                </div>
                <!-- New Password -->
                <div class="form-group" ng-class="{ 'has-error' : editShowChangePassword && editSurveyorForm.newPassword.$invalid && editHasSubmitted }">                 
                  <label class="col-sm-4 control-label">New Password</label>               
                  <div class="col-sm-8">                            
                    <input type="password" name="newPassword" class="form-control" ng-model="editNewPassword" ng-required="editShowChangePassword">
                    <p ng-show="editSurveyorForm.newPassword.$error.required && editHasSubmitted" class="help-block">Please enter a new password.</p>
                  </div> 
                </div>  
                <!-- Confirm Password -->
                <div class="form-group" ng-class="{ 'has-error' : editShowChangePassword && editSurveyorForm.verifyPassword.$invalid && editHasSubmitted }">                 
                  <label class="col-sm-4 control-label">Verify Password</label>               
                  <div class="col-sm-8">                            
                    <input type="password" name="verifyPassword" class="form-control" ng-model="editVerifyPassword" ng-required="editShowChangePassword">
                    <p ng-show="editSurveyorForm.verifyPassword.$error.required && editHasSubmitted" class="help-block">Please verify your new password.</p>
                    <p ng-show="editSurveyorForm.verifyPassword.$error.passwordMatch && editHasSubmitted" class="help-block">The passwords you entered do not match!</p>                    
                  </div> 
                </div>
                <!-- Hide Button -->
                <div class="form-group" style="margin-bottom: 0px">  
                  <div class="col-sm-12">                                
                    <button style="float: right;" type="button" ng-click="editShowChangePassword = false; cleanUpPasswords();" class="btn btn-default">Cancel</button>   
                  </div>
                </div>                                        
              </div>
            </div>
          </div>                                           
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="submitSurveyorUpdate()" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>
